<!-- <div>
    <div style="width: 100%;float: left;">

        <div style="width: 50%;float: left; padding: 20px 50px;">
            <h4 style="font-weight: bold;">From</h4>
            <span>Maniruzzaman Nayem</span><br>
            <span>Paybuddy Limited</span><br>
            <span>House#10, Road#18</span><br>
            <span>Nikunja-2, Dhaka, 1229</span><br>
            <span>Bangladesh</span>
            
        </div>


        <div style="width: 50%; float: left;">
            <h3 style="    text-align: right; padding: 20px 50px;font-weight: bold;">
                INVOICE
            </h3>
        </div>

    </div>











    <div style="width: 100%; float: left;">

            <div style="width: 50%;float: left; padding: 20px 50px;">
                <h4 style="font-weight: bold;">To</h4>
                <span>Maniruzzaman Nayem</span><br>
                <span>Paybuddy Limited</span><br>
                <span>House#10, Road#18</span><br>
                <span>Nikunja-2, Dhaka, 1229</span><br>
                <span>Bangladesh</span>
                
            </div>
    
    
            <div style="width: 50%; float: left;">
                <div style="text-align: right; padding: 20px 50px;">
                        <span><b>Invoice#</b><small style="margin-left: 20px;font-size: 15px;">INV-0001</small></span><br>
                        <span><b>Invoice Date</b><small style="margin-left: 20px;font-size: 15px;">2019-6-25</small></span><br>
                        <span><b>Due Date</b><small style="margin-left: 20px;font-size: 15px;">2019-6-25</small></span>

                </div>
                
            </div>
    
    </div>




    <div style="width: 100%;float: left; padding: 20px 50px;">

            <table id="customers">
                    <tr>
                            <th >Item</th>
                            <th >HRS/QTY</th>
                            <th >Rate</th>
                            <th  >Vat</th>
                            <th >Amount</th>
                    </tr>


                    <tr>
                        <td>Motol 10w30</td>
                        <td>2</td>
                        <td>100</td>

                        <td>20</td>
                        <td>200</td>
                    </tr>

                    <tr>
                            <td>Motol 10w30</td>
                            <td>2</td>
                            <td>100</td>
    
                            <td>20</td>
                            <td>200</td>
                        </tr>

                        <tr>
                                <td>Motol 10w30</td>
                                <td>2</td>
                                <td>100</td>
        
                                <td>20</td>
                                <td>200</td>
                            </tr>

                            <tr>
                                    <td>Motol 10w30</td>
                                    <td>2</td>
                                    <td>100</td>
            
                                    <td>20</td>
                                    <td>200</td>
                                </tr>
            
            </table>


    </div>



    <div style="width: 100%;float: left; padding: 20px 50px;">

        <div style="width: 50%; float:left;padding: 20px 50px;"></div>
        <div style="width: 50%; float:left;padding: 20px 50px;">
            <div style="text-align: right">

                    <span><b>Subtotal</b><small style="    margin-left: 20px;font-size: 15px; text-align: right;">100 Tk</small></span><br>
                    <span><b> Discount</b><small style="margin-left: 20px;font-size: 15px;">10 Tk</small></span><br>
                    <span><b>Shipping</b><small style=" margin-left: 20px;font-size: 15px;">20 Tk</small></span><br>
                    <span> <b>VAT</b><small  style="margin-left: 20px;font-size: 15px;">20Tk</small></span><br>
                    <span><b>Total</b><small  style="margin-left: 20px;font-size: 15px;">200 Tk</small></span>
            </div>
        
                
        </div>
    </div>



</div> -->





<div id="final-invoice" > 
    <div style=" position: relative;" >
  
        <div style=" padding: 20px 50px; width: 50%;">
            <h4 style="font-weight: bold;">From</h4>
            <span>Maniruzzaman Nayem</span><br>
            <span>Paybuddy Limited</span><br>
            <span>House#10, Road#18</span><br>
            <span>Nikunja-2, Dhaka, 1229</span><br>
            <span>Bangladesh</span>
            
        </div>
  
  
        <div style="  text-align: right;text-align: right;width: 50%;position: absolute;top: 0px;right: 0px;">
            <h3 style=" text-align: right; padding: 20px 50px;font-weight: bold;">
                INVOICE
            </h3>
        </div>
  
    </div>
  
  
  
  
  
  
  
  
  
  
    <div style=" position: relative;">
  
            <div style=" padding: 20px 50px; width: 50%">
                <h4 style="font-weight: bold;">To</h4>
                <span>Maniruzzaman Nayem</span><br>
                <span>Paybuddy Limited</span><br>
                <span>House#10, Road#18</span><br>
                <span>Nikunja-2, Dhaka, 1229</span><br>
                <span>Bangladesh</span>
                
            </div>
    
    
            <div style="width: 50%;position: absolute;top: 0;right: 0;">
                <div style="text-align: right; padding: 20px 50px;">
                        <span><b>Invoice#</b><small style="margin-left: 20px;font-size: 15px;">INV-0001</small></span><br>
                        <span><b>Invoice Date</b><small style="margin-left: 20px;font-size: 15px;">2019-6-25</small></span><br>
                        <span><b>Due Date</b><small style="margin-left: 20px;font-size: 15px;">2019-6-25</small></span>
  
                </div>
                
            </div>
    
    </div>
  
  
  
  
    <div style=" padding: 20px 50px;">
  
            <table id="customers" style="width: 100%;border-collapse: collapse;width: 100%;">
                    <tr>
                            <th style="width: 20%;">Item</th>
                            <th style="width: 20%;">HRS/QTY</th>
                            <th style="width: 20%;">Rate</th>
                            <th  style="width: 20%;">Vat</th>
                            <th style="width: 20%;">Amount</th>
                    </tr>
  
  
                    <tr>
                        <td style="width: 20%; text-align: center;">Motol 10w30</td>
                        <td style="width: 20%; text-align: center;">2</td>
                        <td style="width: 20%;">100</td>
  
                        <td style="width: 20%; text-align: center;">20</td>
                        <td style="width: 20%; text-align: center;">200</td>
                    </tr>
            
            </table>
  
  
    </div>
  
  
  
    <div style=" padding: 20px 50px;">
  
        <div style=" padding: 20px 50px;"></div>
        <div style=" padding: 20px 50px;">
            <div style="text-align: right">
  
                    <span><b>Subtotal</b><small style="    margin-left: 20px;font-size: 15px; text-align: right;">100 Tk</small></span><br>
                    <span><b> Discount</b><small style="margin-left: 20px;font-size: 15px;">10 Tk</small></span><br>
                    <span><b>Shipping</b><small style=" margin-left: 20px;font-size: 15px;">20 Tk</small></span><br>
                    <span> <b>VAT</b><small  style="margin-left: 20px;font-size: 15px;">20Tk</small></span><br>
                    <span><b>Total</b><small  style="margin-left: 20px;font-size: 15px;">200 Tk</small></span>
            </div>
        
                
        </div>
    </div>
  
  
  
  </div>